<p class="filter-panel">
    <label id="example-radio-group-label"><h3>Cities</h3></label>
    <mat-radio-group
    aria-labelledby="example-radio-group-label"
    class="example-radio-group">
    <mat-radio-button value="Chennai">Chennai</mat-radio-button>
    <mat-radio-button value="Delhi" style="margin-top: 1.5%;">Delhi</mat-radio-button>
    <mat-radio-button value="Kolkata" style="margin-top: 1.5%;">Kolkata</mat-radio-button>
    <mat-radio-button value="Mumbai" style="margin-top: 1.5%;">Mumbai</mat-radio-button>
    </mat-radio-group>
    <br>
    <mat-form-field appearance="fill" color="accent">
        <mat-label>Category of Resource</mat-label>
        <mat-select>
          <mat-option>Oxygen Cylinder</mat-option>
          <mat-option>Plasma Donor</mat-option>
          <mat-option>Oximeter</mat-option>
          <mat-option>Unused Medicines</mat-option>
        </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill" color="accent">
        <mat-label>Type of Lead</mat-label>
        <mat-select>
          <mat-option>Verified</mat-option>
          <mat-option>Unverified</mat-option>
          <mat-option>Unavailable</mat-option>
        </mat-select>
    </mat-form-field>
</p>

